h1{
    background-color:  rgb(96, 96, 238);
    color: rgb(0, 0, 255);
}
.second{
    color: rgb(255, 123, 145);
}
.third{
color: orange;
background-color: yellow;

}
.fourth{
    color: rgb(24, 78, 24);
    background-color: lightgreen;
}
